{% extends 'index.html' %}
{% block content %}


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for story in story %}

            <div class="post-preview">

                <a href="read_story/{{story.id}}" class="nav-link">
                    <img src="{{story.img}}" alt="post-img" class="img-fluid img-thumbnail">
                    <h2 class="post-title">{{story.title}}</h2>
                    <h3 class="post-subtitle">{{story.post | truncatewords:10}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!" class="nav-link">{{story.author}}</a>
                    on {{story.date_created}}
                </p>
            </div>
    
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>


    {% endblock %}