{% extends 'index.html' %}
{% block content %}

    <main class="body" style="min-height: 100vh;">

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-det" style="text-align: justify;">
                            <img src="{{story.img.url}}" alt="story image">
                            <h3>{{story.title}}</h3>
                            <p>{{story.post}}</p>
                        </div>
                        <div class="make-post" style="width: 100%;">
                            <form action="" method="post" class="post" enctype="multipart/form-data" style="width: 100%;">
                                {% csrf_token  %}
                                {% for field in create_comment %}
                                <div class="input-group">
                                  <label for="form-label">Make Comment</label>
                                  {{field}}
                                </div>
                                {% endfor %}
                                <button>Post</button>
                            </form>
                        </div>
                        <!-- <p class="comment-btn" style="margin-top: 40px; color:grey;">{{count}} comments</p> -->
                        <div class="comment">
                            {% for comment in comments %}
                            <h4>{{comment.user}}</h4>
                            <p>{{comment.body}}</p>
                            {% endfor %}
                        </div>
                        <strong><a href="{% url 'delete' story.id %}">Delete Post</a></strong>
                    </div>
                </div>
            </div>
        </article>
    </main>

    {% endblock %}