{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="wrapper body " style="min-height: 100vh;">
    <form method="POST" class="post" enctype="multipart/form-data">
        {% csrf_token  %}
        {% for field in register_form %}
        <div class="form__group">
          <label for="profile_pic">{{field.label}}</label>
          {{field}}
        </div>
        {% endfor %}
        {{register_form.as_p}}
        <button>Register</button>
    </form>
</div>


{% endblock %} 