<aside class="aside-logo">
    <div class="logo">
      <img src="./images/ig-logo.png" alt="" width="100px" />
    </div>

    <div>
      <ul class="icons-list">
        <li class="active">
          <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li>
          <a href=""
            ><i class="fa fa-search" aria-hidden="true"></i> Search</a
          >
        </li>
        <li>
          <a href=""><i class="fa-regular fa-compass"></i> Explore</a>
        </li>
        <li>
          <a href=""
            ><i class="fa-brands fa-facebook-messenger"></i> Messages</a
          >
        </li>

        <li>
          <a href=""><i class="fa-regular fa-heart"></i> Notification</a>
        </li>
        <li>
          <a href=""
            ><i
              class="fa-regular fa-plus"
              style="
                border: 2px solid black;
                width: 25px;
                height: 25px;
                padding-top: 1px;
                text-align: center;
                border-radius: 6px;
              "
            ></i
            >Create</a
          >
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user"></i> Profile</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-bars"></i> More</a>
        </li>
      </ul>
    </div>
  </aside>